{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h2 style="line-height:1.5; text-align:center">
    Всем привет и Добро пожаловать на сайт Yatube!
  </h2>
  <p style="line-height:1.5; text-align:justify; text-indent:30px">
    Для начала хочу с вами познакомиться. Меня зовут Юля, мне 27 лет и
    по образованию я ветеринарный врач. Люблю свою профессию, но, проработав
    уже достаточное время в этой сфере, меня всё никак не покидала мысль, что
    я бы хотела попробовать реализовать себя в другом направлении и вот я
    здесь. Учусь в Яндекс.Практикуме и по кирпичикам претворяю свою мечту в
    реальность. Конечно это не легко начинать всё с самого нуля в новой для 
    себя области, но мне интересно узнавать что-то новое и я считаю, что это 
    самое главное. И вот сейчас вы можете наблюдать один из этапов моего
    обучения на практике - веб-разработка.
  </p>
  <p style="line-height:1.5; text-align:justify; text-indent:30px">
    Очень благодарна своим родителям и друзьям, что поддержали меня, когда
    передо мной стоял нелёгкий выбор оставить все годы обучения в ветеринарной
    академии и работы по специальности позади и начать всё сначала в новой для
    меня области. А так же своему ревьюеру, который сделать мне мой проект 
    лучше и конечно же наставникам и ребятам из когорты, которые порой даже
    ночью помогали одолеть "баги", так и норовящие сломать твой код.
  </p>
  <p style="line-height:1.5; text-align:justify; text-indent:30px">
    Ну что ж не буду многословна и просто приглашаю вас посмотреть на итог моей
    долгой работы.
  </p>
{% endblock %}
