{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2 style="line-height:1.5; text-align:center">
      О технологиях проекта Yatube
    </h2>
    <p>Чтобы написать этот проект, мне нужно было:
      <ul>
        <li>разобраться в основах HTML и вёрстки для бэкенд-разработчика;</li>
        <li>
          создать основу для Django-проекта и добавить в него новые приложения;
        </li>
        <li>применить MVC на практике;</li>
        <li>использовать шаблонизатор Django;</li>
        <li>освоить Django ORM;</li>
        <li>написать тесты;</li>
        <li>задеплоить проект в облако.</li>
      </ul>
    </p>
  </div>
{% endblock %}
