{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2 style="line-height:1.5; text-align:center">
      О технологиях проекта Yatube
    </h2>
    <ul>
      <li>
        Создана основа для Django-проекта;
      </li>
      <li>
        веб-страницы оформлены с помощью HTML(Bootstrap) и 
        шаблонов Django;
      </li>
      <li>в основе проекта технология Django ORM;</li>
      <li>
        для кэширования данных (@cache_page) и ограничения возможностей 
        для незарегистрированных пользователей(@login_required) 
        применены декораторы;
      </li>
      <li>выполнено покрытие проекта тестами (Unittest).</li>
    </ul>
  </div>
{% endblock %}
